{% extends "base.html" %}
{% block imports %}
{% endblock %}

{% block title %}
Registrar Lote
{% endblock %}

{% block content %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="/static/dist/js/editarLote.js"></script>
<div class="card">
      <div class="card-body wizard-content">
                  <h3 class="card-title">Registrar Lote </h3>
                  <div class="steps clearfix">
                    <div class="steps clearfix">

                    {% if form.errors %}
                      <p style="color: red;">Por favor corrige lo siguiente:</p>
                    {% endif %}
                        <div class="row mb-3">
                          <div class="col-lg-4">
                            <label for="id_nombre">Proveedor:</label>
                            <a data-target="#myModal" role="button" id="nuevoProveedor" data-toggle="modal" style="color:green"><span class="fa fa-plus fa-1x"></span></a>
                            <input type="text" id="inpt-proveedor" name="inpt-proveedor" class="form-control" value={{oLote.proveedor.nombreProveedor}}>
                          </div>
                          <div class="col-lg-4">
                            <label for="id_tipoC">Tipo de comprobante:</label>
                            <select class="form-control" name="" id="id_tipoComprobante" value="{{oLote.tipoComprobante}}">
                              <option value="0">Boleta</option>
                              <option value="1">Factura</option>
                            </select>
                          </div>
                          <div class="col-lg-4">
                            <label for="id_numC">Número de comprobante:</label>
                            <input type="text" class="form-control" id="id_numeroComprobante" name="" value="{{oLote.nroComprobante}}">
                            <input type="text" id="lote_id" name="" value="{{ loteId }}" style="visibility: hidden;">
                          </div>
                        </div>

                        <!-- tercera fila -->
                        <div class="col-lg-12" style="margin-top:2px;">

                  </div>

                    <div class="row mb-3">
                      <div class="col-xs-12 col-sm-12 col-md-12">

                        <div class="form-group">
                            <label ><center>Concepto Operación</center></label>
                            <table id="tabla" name="tablacontenido" class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>Nº</td>
                                    <td>Producto</td>
                                    <td>Cantidad</td>

                                </tr>
                            </thead>
                            <tbody>
                              {% for lote in lotes  %}
                                   {% for cant in cantidadLote %}
                                     {% if lote.id == cant.id %}
                                     <tr>
                                       <td style="visibility: hidden; display:none; margin-left:2em; margin-right:8em;" >{{lote.id}}</td>
                                       <td>{{ forloop.counter }}</td>
                                       <td>{{lote.producto.nombreProducto}}</td>
                                       <td><input type="number" class="form-control" id="cantidad{{cant.contador}}"  onchange ="eventoCambio({{ cant.contador }});" value="{{ cant.cantidad }}">
                                     </td>


                                     </tr>
                                     {% endif %}

                                   {% endfor %}

                                 {% endfor %}
                            </tbody>

                            </table>

                            <br>
                        </div>
                            <br>

                        <!--</form>-->
                    </div>
                  </div>
                    <button id="generarAlmacen" class="btn btn-success">Actualizar Lote</button>

                 </div>
                </div>

            </div>
        </div>


{% endblock %}
