{% extends "base_tienda.html" %}
<!-- top Products -->
{% block imports %}

{% endblock %}

{% block title %}
Contáctenos
{% endblock %}

{% block content %}


<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="index.html">Home</a>
						<i>|</i>
					</li>
					<li>contact Us</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->
	<!-- contact page -->
	<div class="contact-w3l">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Compras
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
			<!-- contact -->
			<div class="contact agileits">
				<div class="contact-agileinfo">
					<div class="contact-form wthree">
            <div class="form-group">
              <table id="tCamiones"  class="table">
                  <tr>
                    <td>Fecha: </td>
                    <td>{{ oCompra.fecha }}</td>

                  </tr>
                  <tr>
                    <td>Tipo de comprobante: </td>
                    <td>{{ oCompra.tipoComprobante }}</td>
                  </tr>
                  <tr>
                    <td>Numero comprobante: </td>
                    <td>{{ oCompra.nroComprobante }}</td>
                  </tr>
                  <tr>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <td>Producto</td>
                          <td>Cantidad</td>
                          <td>Precio</td>
                          <td>SubTotal</td>
                        </tr>
                      </thead>
                      <tbody>
                        {% for oProductoCompra in oProductoCompras  %}
                          <tr>
                            <td>
                              {{ oProductoCompra.producto.nombreProducto }}
                            </td>
                            <td>
                              {{ oProductoCompra.cantidad }}
                            </td>
                            <td>
                              {{ oProductoCompra.producto.precioOfertaProducto }}
                            </td>
                          </tr>

                        {% endfor %}
                      </tbody>
                    </table>

                  </tr>
                </table>
            </div>
      <br>

      <div class="center">
        <ul class="pagination">
          {% if oVenta.has_previous %}
                    <li><a href="?page={{oVenta.previous_page_number}}"><<</a></li>
                {% endif %}


              {% for pg in page_range %}
                  {% if oVenta.number == pg %}
                      <li><a class="active" href="?page={{pg}}" class="btn btn-default">{{pg}}</a></li>
                  {% else %}
                      <li><a href="?page={{pg}}" class="btn">{{pg}}</a></li>
                  {% endif %}
              {% endfor %}

                {% if oVenta.has_next %}
                    <li><a href="?page={{oVenta.next_page_number}}">>></a></li>
                {% endif %}
					</div>


			</div>
			<!-- //contact -->
		</div>
	</div>
	<!-- map -->

{% endblock %}
