{% extends "base_tienda.html" %}
{% block imports %}
{% endblock %}
{% block title %}
Registrar Usuario
{% endblock %}

{% block content %}
<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
  <div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="/Tienda/Inicio/">Inicio</a>
						<i>|</i>
					</li>
					<li>Registro de Usuario</li>
				</ul>
			</div>
		</div>
	</div>

  <div class="contact-w3l">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Registrar Usuario
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
			<!-- contact -->
      <div class="contact agileits">
        <div class="contact-agileinfo">
        	<div class="contact-form wthree">
            <form action="#" method="post">
              {% csrf_token %}
              <div class="">
                {{ form.username.errors }}
                {{ form.username.label }}
                {{ form.username }}
              </div>
              <div class="">
                {{ form.first_name.errors }}
                {{ form.first_name.label }}
                {{ form.first_name }}
              </div>
              <div class="">
                {{ form.last_name.errors }}
                {{ form.last_name.label }}
                {{ form.last_name }}
              </div>
              <div class="">
                {{ form.email.errors }}
                {{ form.email.label }}
                {{ form.email }}
              </div>
              <div class="">
                {{ form.password1.errors }}
                {{ form.password1.label }}
                {{ form.password1 }}
              </div>
              <div class="">
                {{ form.password2.errors }}
                {{ form.password2.label }}
                {{ form.password2 }}
              </div>
              <div class="">
                <input type="submit" value="Registrar" >
              </div>
            </form>
      		</div>
      	</div>
      </div>

			<!-- //contact -->
		</div>
	</div>
	<!-- page -->


{% endblock %}
